{% extends 'base.html' %}
{% load static %}

{% block stylesheets %}
    <link href="{% static 'Wav_Service/css/index.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="controls container-fluid">
        <div class="card shadow p-2">
            <select class="form-select" id="selectSpeaker1">
                <option value="" selected>Select speaker ...</option>
                {% for speaker in speakers %}
                    <option value="{{ speaker }}">{{ speaker }}</option>
                {% endfor %}
            </select>
            <div class="overflow mt-2 p-1" id="segmentContainer1"></div>
        </div>
        <div class="overflow card shadow p-2">
            {% for key, value in speakers.items %}
                <div class="shadow-sm d-flex align-items-center justify-content-between mb-1 p-1">
                    <div class="speakerName">{{ key }}</div>
                    <div class="colorIndicator" style="background-color: {{ value }}"></div>
                </div>
            {% endfor %}
        </div>
        <div class="card shadow p-2">3</div>
        <div class="card shadow p-2">
            <select class="form-select" id="selectSpeaker2">
                <option value="" selected>Select speaker ...</option>
                {% for speaker in speakers %}
                    <option value="{{ speaker }}">{{ speaker }}</option>
                {% endfor %}
            </select>
            <div class="overflow mt-2 p-1" id="segmentContainer2"></div>
        </div>
        <div class="card shadow p-2 container-fluid" id="waveform_container">
            <div class="d-flex">
                <button class="btn btn-primary me-3" id="play_wav">
                    <i class="fas fa-play"></i>
                </button>
                <input type="range" min="0" max="100" value="0" id="zoomRange">
            </div>
            <!-- Pour afficher la waveforme du fichier uploadé, on prend le debut du path et on le colle au nom de tempfile pour former l'url complete -->
            <input type="hidden" id="wavFile" value="/static/Wav_Service/uploads/wav/{{ wav_file }}">
            <!-- <p>{{ request.session.tempfile }}</p> -->
            <div id="waveform"></div>
            
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        let data = String.raw`{{ json_data|safe }}`;
        let jsonData = JSON.parse(data);
    </script>
    <script src="{% static 'Wav_Service/js/manageWaveForm.js' %}" type="text/javascript"></script>
{% endblock %}
