{% extends 'base.html' %}
{% load static %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'Wav_Service/css/upload.css' %}">
{% endblock %}

{% block content %}
    <div class="container d-flex justify-content-center align-items-center" id="formContainer">
        <div class="card shadow p-4" id="formCard">
            {% if files %}
                <form class="form d-flex flex-column justify-content-center align-items-center"
                      action="{% url 'listing' %}" method="post" id="choiceForm">
                    {% csrf_token %}
                    <div class="form-group col-md-10">
                        <label class="form-label">Choisissez votre Wav</label>
                        <select class="form-select" name="chosen_wav_file" id="file_choice">
                            <option value="">Veuillez selectionner un fichier</option>
                            {% for file in files %}
                                <option value="{{ file }}">{{ file }}</option>
                            {% endfor %}
                        </select>
                        <div class="invalid-feedback">ERREUR: Aucun fichier n'a été choisi! Veuillez choisir un ficher de la liste</div>
                    </div>
                    <input class="btn btn-primary mt-3" id="validate_choice" name="validate_choice" type="submit" value="Valider"/>
                </form>
                <hr/>
            {% endif %}
            <!-- Upload form. Note enctype attribute! -->
            <form class="form d-flex flex-column justify-content-center align-items-center"
                  action="{% url 'listing' %}"
                  enctype="multipart/form-data"
                  id="uploadForm"
                  method="post">
                {% csrf_token %}
                <div class="form-group col-md-10">
                    <label class="form-label">Upload un fichier Wav</label>
                    <input class="form-control" id="uploaded_file" name="uploaded_file" type="file" accept=".wav">
                    <div class="invalid-feedback">ERREUR: Vous n'avez pas chargé de fichier!</div>
                </div>
                <input class="btn btn-outline-primary mt-3" id="upload_file" name="upload_file" type="submit" value="Upload"/>
            </form>
            {% comment %}<form action="{% url 'listing' %}" method="post" enctype="multipart/form-data" id="uploadForm">
                {% csrf_token %}
                <p>{{ form.non_field_errors }}</p>
                <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
                <p>
                    {{ form.docfile.errors }}
                    {{ form.docfile }}
                </p>
                <input class="btn btn-outline-primary" type="submit" value="Upload"/>
            </form>{% endcomment %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{% static 'Wav_Service/js/manageUpload.js' %}" type="text/javascript"></script>
{% endblock %}