/*
 © Copyright 2020-2021 Florian Plaut, Nicolas Poupon, Adrien Puertolas, Alexandre Flucha
 * 
 * This file is part of S4D-UI.
 *
 * S4D-UI is an interface for S4D to allow human supervision of the diarization
 * S4D-UI home page: https://github.com/PTS7-IA-DOCSMULTI/s4d-UI
 * S4D home page: http://www-lium.univ-lemans.fr/s4d/
 * SIDEKIT home page: http://www-lium.univ-lemans.fr/sidekit/
 *
 * S4D-UI is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as
 * published by the Free Software Foundation, either version 3 of the License,
 * or (at your option) any later version.
 *
 * S4D-UI is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with S4D-UI.  If not, see <http://www.gnu.org/licenses/>.
*/

.left-part {
	background: transparent;
	height:calc(67% - 85px);
	width: calc(50% - 30px);
	padding: 20px;
	padding-right: 10px;
	padding-left: 20px;
	padding-top: 20px;
	padding-bottom:10px;
}

.right-part {
	background: transparent;
	height:calc(67% - 85px);
	width: calc(50% - 30px);
	padding: 20px;
	padding-right: 20px;
	padding-left: 10px;
	padding-top: 20px;
	padding-bottom:10px;
	position: absolute;
	top: 55px;
	left: 50%;
}

.left-big-part {
	background: transparent;
	height:calc(50% - 85px);
	width: calc(50% - 30px);
	padding: 20px;
	padding-right: 10px;
	padding-left: 20px;
	padding-top: 20px;
	padding-bottom:10px;
}

.right-big-part {
	background: transparent;
	height:calc(50% - 85px);
	width: calc(50% - 30px);
	padding: 20px;
	padding-right: 20px;
	padding-left: 10px;
	padding-top: 20px;
	padding-bottom:10px;
	position: absolute;
	top: 55px;
	left: 50%;
}

.main-part {
	background: transparent;
	height:calc(100% - 40px);
	width: calc(100% - 40px);
	padding-right: 10px;
	padding-left: 20px;
	padding-top: 20px;
	padding-bottom:20px;
}

.middle-part {
	background: transparent;
	height: 350px;
	width: 600px;
	position: absolute;
	top: calc(50% - 175px);
	left: calc(50% - 300px);
}

.app-header {
	height:calc(55px);
	background: rgba(0,0,0,.05);
}

.app-header .header {
	background: rgb(0 0 0 / 45%) !important;
}

.app-header img {
	height: 40px;
	width: auto;
	margin-top: -5px;
	margin-right: 15px;
}

::-webkit-scrollbar {
  width: 1em;
  height: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #ffffff87;
}

::-webkit-scrollbar:vertical {
  width: 8px;
  height: 100%;
}

.tag-color {
    position: absolute;
    width: 10px;
    height: 10px;
    top: calc(45px);
    right: calc(20px);
    border-radius: 10px;
    box-shadow: black;
}

#speaker-tag2 {
	right: calc(20px + 10px) !important;
}

#clusterOverview {
	width: 50%;
	max-height: calc(100% - 90px);
	overflow: auto;
	position: relative;
}

.right-part-left {
	background: transparent;
	height: calc(47% - 85px);
	width: calc(25% - 25px);
	position: absolute;
	top: 55px;
	left: 50%;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 20px;
	padding-bottom:10px;
}

.right-part-right {
	background: transparent;
	height: calc(47% - 85px);
	width: calc(25% - 25px);
	position: absolute;
	top: 55px;
	left: 75%;
	padding-right: 20px;
	padding-left: 5px;
	padding-top: 20px;
	padding-bottom:10px;
}

.right-part-bottom {
	background: transparent;
	height: calc(20% - 20px);
	width: calc(50% - 30px);
	position: absolute;
	top: 47%;
	left: 50%;
	padding-right: 20px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom:10px;
}

.bottom-part {
	background: transparent;
	height: calc(33% - 30px);
	width: calc(100% - 40px);
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom:20px;
}

.bottom-big-part {
	background: transparent;
	height: calc(50% - 30px);
	width: calc(100% - 40px);
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom:20px;
}

.shadow {
	box-shadow: 0 0 12px rgba(0,0,0,.35);
}
body {
	margin: 0px;
	background: linear-gradient(180deg,#4b4b4b,#595959);/*linear-gradient(180deg,#110f4c,#141452 10%,#3e5b9c);*/
}
.zoom {
	display: inline-block;
	position: absolute;
	right: calc(20px + 10px);
}

.right-pos {
	display: inline-block;
	position: absolute;
	right: calc(20px + 10px);
}

i.big.icon, i.big.icons {
    line-height: 1;
    vertical-align: middle;
    font-size: 3.5em;
}

.open-icon i {
	position: relative;
	top: calc(50%);
    transform: translateY(-28px);
}

.no-margin {
	margin: 0px !important;
}

.file-path {
	display: table-cell;
	vertical-align: middle;
	height: 131px;
	padding-bottom: 15px;
}

.subcontent {
	height: calc(100% - 185px);
    padding: 15px;
    background: #00000021;
    border-radius: 15px;
	margin-top: 10px;
}

.open-icon {
	margin-top : -10px;
	border-radius: 1000px;
	background: #00000021;
	width: 120px;
	height: 120px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

i.icon.stop:before {
    content: "\f04d";
}
i.icon.pause:before {
    content: "\f04c";
}
i.icon.volume.off:before {
    content: "\f026";
}
i.icon.upload:before {
    content: "\f093";
}
i.icon.volume.up:before {
    content: "\f028";
}
i.icon.play:before {
    content: "\f04b";
}
i.icon.zoom-out:before {
	content: "\f010";
}
i.icon.zoom-in:before {
	content: "\f00e";
}
i.icon.check:before {
	content: "\f00c";
}
i.icon.pencil:before {
	content: "\f303";
}
i.icon.close:before {
	content: "\f00d";
}
i.icon.save:before {
	content: "\f0c7";
}
i.icon.back:before {
	content: "\f060";
}
i.icon.reset:before {
	content: "\f0e2";
}
i.icon.help:before {
    content: "\f059";
}
i.icon.next:before {
	content: "\f061";
}
i.icon.delete:before {
	content: "\f2ed";
}
i.icon.plus:before {
    content: "\f067";
}

.header .title {
	display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.action-button {
	background: none;
	appearance: none;
	color: white;
	box-shadow: none;
	border: none;
	font-size: 15px;
	cursor: pointer;
	outline: 0;
	-webkit-tap-highlight-color: transparent;
	text-align: center;
}

th {
	top: 0px;
	position: sticky;
    background: #3e3d3d;
    height: 35px;
}

#segTable1, #segTable2 {
	margin-top: 10px;
	max-height: calc(100% - 120px);
    overflow: auto;
	position: relative;
}

#segTable {
	max-height: calc(100% - 90px);
	overflow: auto;
	position: relative;
}

#spkname1, #spkname2 {
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: calc(100% - 50px);
    display: block;
    overflow: hidden
}

.flexHeader {
	display: flex;
	flex-wrap: wrap;
}

.buttons {
	display: inline-block;
    background: #ffffff14;
    border-radius: 15px;
    padding: 1px 8px;
    margin-left: 15px;
}

.single-button {
	display: inline-block;
    background: #ffffff14;
    border-radius: 15px;
    padding: 6px 2px;
	text-align: center;
}

.action-button:focus {
	background: none;
	appearance: none;
	color: white;
	box-shadow: none;
	border: none;
	font-size: 15px;
}

@font-face{font-family:Icons;src:url(icons.eot);src:url(icons.eot?#iefix) format('embedded-opentype'),url(icons/icons.woff2) format('woff2'),url(icons.woff) format('woff'),url(icons.ttf) format('truetype'),url(icons.svg#icons) format('svg');font-style:normal;font-weight:400;font-variant:normal;text-decoration:inherit;text-transform:none}
i.icon {
    display: inline-block;
    opacity: 1;
    margin: 0;
    width: 1.18em;
    height: 1em;
    font-family: Icons;
    font-style: normal;
    font-weight: 400;
    text-decoration: inherit;
    text-align: center;
    speak: none;
    font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.block {
	width:100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	background: linear-gradient(180deg,#515151,#6e6e6e);/*linear-gradient(180deg,#3d5897,#3d58b4);*/
}
.block>.header {
	font-size: 20px;
	padding: 15px;
	color: white;
	height: 25px;
	background: rgba(0,0,0,.15);
	box-shadow: 0 0 12px rgba(0,0,0,.35);
	font-family: Titillium Web,sans-serif;
}
.content {
	padding: 20px;
	margin-left:auto;
	margin-right: auto;
    display: block;
    max-height: inherit;
}
.wave-form-content {
    margin-right: auto;
    display: block;
    max-height: inherit;
    position: relative;
    width: calc(100% - 200px);
}
.flex {
	display: flex;
}
.content.center {
	text-align: center;
}
.content.elements {
	background: rgba(0,0,0,.15);
    min-height: calc(100% - 135px);
	margin: 20px;
}

body, span, p, h1, label, h2, h3, h4, td, tr, a {
	font-family: Titillium Web,sans-serif;
	color: white;
}

button {
	font-family: Titillium Web,sans-serif;
}

table:last-child {
	margin-bottom: 0;
}

thead {
	display: table-header-group;
	vertical-align: middle;
	border-color: inherit;
}

thead tr:first-child>th:first-child {
	border-radius: 0.3rem 0 0 0;
}

tr td:first-child, tr th:first-child {
	border-left: none;
}

tr>th:first-child {
	border-left: none;
}

tr td, tr th {
	border-left: 1px solid rgba(34,36,38,0.1);
}

tr:first-child td {
	border-top: none;
}

tr td {
	border-top: 1px solid rgba(34,36,38,0.1);
	color:white;
}

tbody>tr {
	background: #69696933;
}

td {
	padding: 0.8em 0.8em;
	text-align: center;
	color:white;
}

table {
	background: #21212175;
	color:white;
	border: 1px solid rgba(34,36,38,0.15);
	border-radius: 0.3rem;
	border-spacing: 0;
	font-size: 1em;
	border-top: none!important;
}

.waveform-container {
    margin: 15px;
    border: #ffffff1c solid 3px;
    background: #00000029;
    border-radius: 5px;
	overflow: scroll;
    max-height: calc(100% - 90px);
}

.scaling-svg-container {
  position: relative; 
  height:0;
  width: 100%; 
  padding: 0;
  padding-bottom: 100%; 
  /* over-ride this inline for aspect ratio other than square */
}
.scaling-svg {
  position: absolute; 
  height: 100%;
  width: 100%; 
  left: 0; 
  top:0;
}

#filename {
	display: inline-block;
	position: absolute;
	left: 50%;
}

#filename>span {
	position: relative;
	left: calc(-50% - 70px); 
}

@media only screen and (max-width: 1000px) {
	#filename>span {
		display:none;
	}
}

@media only screen and (min-width: 1000px) and (max-width: 1200px) {
	#filename>span {
		font-size: 0.75em;
		top: 4px;
	}
}

@media only screen and (min-width: 1200px) and (max-width: 1500px) {
	#filename>span {
		font-size: 0.85em;
		top: 3px;
	}
}
