{% load static %}
<nav class="navbar navbar-dark bg-dark bg-gradient shadow-lg">
    <div class="container">
        <a class="navbar-brand" href="{% url 'app_index' %}">
            <img src="{% static 'Wav_Service/img/lium.png' %}" height="36" alt="LIUM Logo">
            <img class="ms-3" src="{% static 'Wav_Service/img/ensim.png' %}" height="36" alt="ENSIM Logo">
        </a>
        <ul class="navbar-nav d-flex flex-row float-end mb-2 mb-lg-0
            {% if request.resolver_match.view_name == 'listing' %}d-none{% endif %}">
            <li class="nav-item me-2">
                <a class="btn btn-success"
                   href="{% url 'listing' %}">
                    <i class="fa-solid fa-upload"></i> Choose File
                </a>
            </li>
            <li class="nav-item">
                <a class="btn btn-primary"
                   href="{% url 'app_index' %}">
                    <i class="fa-solid fa-floppy-disk"></i> Save
                </a>
            </li>
        </ul>
    </div>
</nav>