.controls {
    height:93vh;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.controls div {
    background-color:#222;
}

.controls div:nth-child(1){
    grid-area: 1 / 1 / 6 / 4;
}

.controls div:nth-child(2){
    grid-area: 1 / 4 / 3 / 8;
}

.controls div:nth-child(3){
    grid-area: 3 / 4 / 6 / 8;
}

.controls div:nth-child(4){
    grid-area: 1 / 8 / 6 / 11;
}

.controls div:nth-child(5){
 grid-area: 6 / 1 / 8 / 11;
}

.overflow {
    height: 100%;
    overflow-y: scroll;
}

.colorIndicator {
    height:20px;
    width:20px;
    border-radius: 50px;
}

.speakerName {
    color: white;
}
